.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container{
  padding: 2rem 0rem;
}

.personForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 3rem 0;
}
